""" Common
set number
set relativenumber
set autoindent
set clipboard=ideaput

""" Mapping
let mapleader=","
map <leader>d :action GotoDeclaration<CR>
map <leader>D :action GotoUsage<CR>
map <leader>s :action SurroundWith<CR>
map <leader>c :action CommentByLineComment<CR>
map <leader>C :action CommentByBlockComment<CR>
map <leader>v :action SplitVertically<CR>
map <leader>V :action SplitHorizontally<CR>
map <leader>e :action ShowErrorDescription<CR>
map <leader>f :action FindInPath<CR>
