""" Common
set number
set relativenumber
set autoindent
set clipboard=ideaput
set scrolloff=8

""" Mapping
let mapleader=" "
map <leader>n :action GotoDeclaration<CR>
map <leader>e :action GotoUsage<CR>
map <leader>c :action CommentByLineComment<CR>
map <leader>C :action CommentByBlockComment<CR>
map <leader>v :action SplitVertically<CR>
map <leader>s :action SplitHorizontally<CR>
map <leader>h :action ShowErrorDescription<CR>
map <leader>t :action LocateInSolutionView<CR>

""" Handler
sethandler a:vim
